.productlist-section{
    padding: 1rem;
}

.productlist-heading3{
    text-align: left;
}

.productlist-list{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.productlist-link{
    color: rgb(73, 160, 235);
    cursor: pointer;
}

.productlist-link:hover{
    text-decoration: underline;
}